
.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

/* فونت عنوان‌ها */
h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

/* تاریخ پست */
.date {
    color: #828282;
}

/* دکمه ذخیره (مثلاً در فرم‌ها) */
.save {
    float: right;
}

/* فرم‌ها */
.post-form textarea,
.post-form input {
    width: 100%;
}

/* منوی بالای صفحه */
.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

/* پست‌ها */
.post {
    margin-bottom: 70px;
}

/* لینک عنوان پست */
.post h2 a,
.post h2 a:visited {
    color: #000000;
}

/* تاریخ و دکمه‌ها در پست */
.post > .date,
.post > .actions {
    float: right;
}

/* دکمه ثانویه */
.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}
